@font-face {
  font-family: "Segoe";
  src: local("Segoe"), url("~assets/segoeui/Segoe UI.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe";
  src: local("Segoe UI Bold"), url("~assets/segoeui/Segoe UI.ttf") format("truetype");
}
/*
src: ~/assets/segoeui/Segoe UI.ttf
src: ~/assets/segoeui/Segoe UI Bold Italic.ttf
src: ~/assets/segoeui/Segoe UI Bold.ttf */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px !important;
}

.big-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 40px 0px !important;
  }

  

.btn-big {
  border: 1px solid red;
  padding: 15px !important;
}

section {
  .title {
    margin: 20px auto;
    font-weight: 100;
    font-size: 20pt;
  }
  text-align: center;
}
h2{
  margin-bottom: 15px;
}
a {
  margin: auto 10px;
}

.panel.white{
    background: white;
}

.panel {
  border-radius: 10px;
  background: #fafafa;
  padding: 20px;
  border: 1px solid #dadada;


  .title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
  }
}
.left{
  text-align: left;
}
.el-table{
  margin-top: 20px;
}
.panel.register{
  margin: 30px auto;
  margin-left: 10px;
  margin-right: 10px;
}
@media(min-width:1200px){
  .panel.register{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  fieldset{
    legend{
      margin-bottom: 10px;
      color: #555;
      padding-right: 10px;
    }
    border: none;
    border-top: 1px solid #dadada;
    margin-bottom: 10px;
    padding: 5px;
  }
}
.flex-end{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.fill {
  width: 100%;
}


.el-breadcrumb{
    margin-bottom: 10px;
}

.el-select{
    width: 100%;
}

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.center{
    justify-content: center;
    text-align: center;
}

input[readonly=readonly].el-input__inner{
    /* background: rgba(0, 0, 0, 0.02); */
}

.center-vertical{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.el-dialog__body {
    padding-top: 0 !important;
}

.summary-table{
    tr {
        td:nth-child(1){
            padding-right: 20px;
            font-weight: bold;
        }
    }
}

$green:#67c23a;
$red:#ff5959;
$yellow:#fba700;

.green{
    color: $green
}

.bold{
    font-weight: bold;
}

.label{
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin:3px;
}
.label.green{
    background: $green;
}
.label.yellow{
    background:$yellow;
}
.label.red{
    color:white;
    background: $red;
}

.red{
    color:$red
}

.floating {
    z-index: 40;
    background: white;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;
}

.bordered-bottom{
    border-bottom: 2px solid #ddd; margin-bottom: 20px;
}

.bordered-top{
    border-top: 2px solid #ddd; margin-bottom: 20px;
}